header {
  padding-bottom: 2rem;
  .navbar{
    background: #e2e2e2;

    div {
      display: none;
      @media (min-width: 48em) {
        display: flex;
      }
    }
    .toggle,
    .brand {
      display: inline-block;
    }
    .link {
      display: block;
      width: 100%;
      text-align: center;
      padding: 1em;
      text-decoration: none;
      background: rgb(184, 184, 184);
      color: white;
      &:hover,
      &:active {
        background: black;
      }
    }
    .brand {
      width: 10em;
      text-align: center;
      padding: 1em;
      background: black;
      color: white;
    }
    .toggle {
      padding: 1em;
      color: black;
      vertical-align: middle;
    }
  }

  @media (min-width: 48em) {
    .navbar {
      display: flex;
      .left,
      .right {
        display: flex;
        flex: 1;
      }
      .link {
        width: auto;
      }
      .right {
        justify-content: flex-end;
      }
      .toggle {
        display: none;
      }
    }
  }

  @media (max-width: 48em) {
    .navbar.active {
      .toggle {
        background: seagreen;
        color: white;
      }
      div {
        display: block;
      }
    }
  }
}
