.hero {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @include overlayColor(black, .4, 0);

  &-inner {
    z-index: 1;
    h1 {
      @include responsive-font-size(12px, 14px, 16px, 18px, 20px);
      color: white;
      margin-top: 0;
      margin-bottom: .5em;
    }
    h2 {
      color: white;
    }
    .btn {
      display: block;
      width: 200px;
      padding: 1em;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      border: 3px solid white;
      color: white;
      text-decoration: none;
      @include responsive-font-size(1rem, "", "", "", 1.5rem);
      background: transparent;
    }
  }
}
