// This comment will appear in the HTML
//- This is a silent comment
mixin carousel(slides)
    .owl-carousel
        each slide in slides
          include slide.pug
          +slide(slide.title, slide.text, slide.img)
        
