/**
 * Carousel
 */

@import '../../../node_modules/owl.carousel/src/scss/owl.carousel.scss';

.owl-nav {
  display: flex;
  justify-content: space-between;

  button {
    &:focus {
      outline: none;
    }
    span {
      font-size: 40px;
    }
  }
}
.owl-dots {
  .owl-dot {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    &:focus {
      outline: none;
    }
    span {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid black;
    }
    &.active span {
      background-color: black;
    }
  }
}
