extends ../layouts/home
block head
    // header stuff
block vars
  // this 'title' pug-variable is used in layout.pug to set the title of this page.
  - title='cABANA'
block content
    include ../components/header/header
    
    .container-fluid
        .row
            .col-md-12
                include ../../modules/hero/hero.pug
                +hero("Cabana", './assets/img/demo/cat.jpg')
        .row
            .col-md-6
                - var data=[{'title':'Test Run', 'text': "Thomas er sej", 'img': './assets/img/demo/cat.jpg'}, {'title':'Testing'}, {'title':'Foreground'}]
                include ../../modules/carousel/carousel.pug
                +carousel(data)
            .col-md-6
                - var accordionData=[{'title':'Test Run', 'content': "Thomas er sej"}, {'title':'Test Run','content':'Testing'}]
                include ../../modules/accordion/accordion.pug
                +accordion(accordionData)
        
    include ../components/footer/footer

block body_end