<!--[if IE]>
link(rel="shortcut icon" href="/assets/icons/favicon-16x16.png")
<![endif]-->

link(rel='icon', href='/assets/icons/favicon-16x16.png', sizes='16x16')
link(rel='icon', href='/assets/icons/favicon-32x32.png', sizes='32x32')
link(rel='icon', href='/assets/icons/favicon-96x96.png', sizes='96x96')