doctype html
html(lang='da')  
    block vars  
    head
        title #{title} | Cabana
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(name="description", content="Some description...")
        meta(name="keywords", content="")

        link(rel="canonical", href="http://cabana.dk")

        include ../partials/meta-some
        include ../partials/icons
        link(rel="stylesheet" href="./css/main.css") 
    block head
    block scripts

    body
        block content

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js")
        script(src="./js/vendor.js")
        script(src="./js/app.js")
    block body_end