.accordion {
  width: 100%;
  font-size: $font-size-base;
  margin: 0 auto;
  border-radius: 5px;

  &-header,
  &-body {
    background: white;
  }

  &-header {
    padding: 1.5em 1.5em;
    background: #3f51b5;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-size: .8em;
    letter-spacing: .1em;
    transition: all .3s;
    &:hover {
      background: #2d3d99;
      position: relative;
      z-index: 5;
    }
  }
  &-body {
    background: #fcfcfc;
    color: #3f3c3c;
    display: none;

    &__contents {
      padding: 1.5em 1.5em;
      font-size: .85em;
    }
  }

  &__item {
    &.active {
      & .accordion-header {
        background: #2d3d99;
      }
      & > .accordion-header:after {
        border-bottom: 1px solid transparent;
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
      }
      &:last-child{
        & .accordion-header {
          border-radius: none;
        }
      }
    }
    & > .accordion-header:after {
      content: "+";
      font-size: 1.2em;
      float: right;
      position: relative;
      top: -2px;
      transition: .3s all;
      transform: rotate(0deg);
    }
  }
}
