mixin item(title, content)
  .accordion__item.js-accordion-item
    .accordion-header.js-accordion-header 
      span= title
    .accordion-body.js-accordion-body
      .accordion-body__contents
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, obcaecati. Aliquid dolorum nostrum tempora beatae iste inventore fuga qui voluptatum eaque accusamus, quam exercitationem provident quod aspernatur itaque dolor illo!