/**
 * Overlay
 *
 * Usage:
 * @include overlay();
 */

@mixin overlay() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin overlayColor($bgColor: #000, $bgOpacity: .6, $index: 0){
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($bgColor, $bgOpacity);
    z-index: $index;
  }
}
